<!DOCTYPE html>
<html lang="nl">
    
<%- include ('head.ejs') %>

<%- include ('header.ejs') %>

<main>
    <form action="#" method="post">

        <section>
            <h1>Find your perfect adoptable match!</h1>
        </section>    

        <section>
            <h2>I'm looking for a...</h2>
            <p class="ondertekst">(multiple answers are possible)</p>
            <ul>
                <li><input class="box" type="checkbox" name ="pet" id="cat"/>
                    <label for="cat">Cat</label>
                </li>

                <li><input class="box" type="checkbox" name ="pet" id="dog"/>
                    <label for="dog">Dog</label>
                </li>

                <li><input class="box" type="checkbox" name ="pet" id="Bunny"/>
                    <label for="bunny">Bunny</label>
                </li>
            </ul>
        </section>

        <section>
            <h2>The age must be...</h2>
            <p class="ondertekst">(multiple answers are possible)</p>
            <ul>
                <li><input class="box" type="checkbox" name="age" id="0-2"/>
                    <label for="0-2">0 to 2 years</label>
                </li>

                <li><input class="box" type="checkbox" name="age" id="2-5"/>
                    <label for="2-5">2 to 5+ years</label>
                </li>
            </ul>
        </section>

        <section>
           <h2>I want the pet to be...</h2>
            <p class="ondertekst">(multiple answers are possible)</p>
            <ul>
                <li><input class="box" type="checkbox" name="trait" id="inquisitive"/>
                    <label for="inquisitive">inquisitive</label>
                </li>

                <li><input class="box" type="checkbox" name="trait" id="playful"/>
                    <label for="playful">playful</label>
                </li>

                <li><input class="box" type="checkbox" name="trait" id="friendly"/>
                    <label for="friendly">friendly</label>
                </li>
            </ul>
        </section>

        <section>
            <button type="submit" id="submit" name="submit">see my PawfectMatch!</button>
        </section>

    </form>    
    </main>
    <script src="../index.js"></script>
</body>
</html>
